a {color:white;text-decoration:none;font-size:150%;}
li {display:inline-block;float:left;padding:10px;width:170px;}
div {text-align:center;font-size:150%;padding:10px;}
div.sd {vertical-align:top;font-size:120%;padding:10px;}
div.c1 {text-align:left;padding:10px;font-size:120%;position:relative;left:10px;}
td {vertical-align:center;}
img.c1 {float:left;}
